.infor{

}
/*infor*/
.infor_li {
    li {
      color: #535353;
      line-height: 3;
      background-position: 100% 100%;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-image: linear-gradient(#a7a7a7, #a7a7a7);
      &:hover,
      &:active {
        animation: line 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }