@charset "UTF-8";
@font-face {
  font-family: 'my_font';
  src: local("微軟正黑體");
  unicode-range: U+4E00-9FFF ,U+2E80-2EFF; }

@font-face {
  font-family: 'my_font';
  src: url(../font/Bahnschrift.TTF);
  unicode-range: U+0020-007F; }

.clearfix {
  display: block;
  content: "";
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'my_font'; }

a {
  text-decoration: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  overflow: inherit; }

label {
  position: relative; }

body {
  line-height: 1;
  margin: 0;
  overflow-x: hidden; }

ul, li, body {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

button {
  cursor: pointer; }

.hamburger_window {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 3.75rem);
  top: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background: #077c96;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .hamburger_window h1 {
    color: #fff;
    line-height: 3.75rem;
    padding: 0 1.25rem; }
    .hamburger_window h1 .hamburger_logo,
    .hamburger_window h1 p {
      display: inline-block; }
    .hamburger_window h1 .hamburger_logo {
      background: url(../images/logo_hamburger.png) no-repeat;
      width: 5rem;
      height: 3.75rem;
      background-size: 100%;
      vertical-align: bottom; }
    .hamburger_window h1 p {
      vertical-align: middle;
      line-height: 1;
      padding-top: 0.5rem;
      margin-left: 1rem; }
  .hamburger_window ul {
    margin: 1.25rem 0;
    padding: 0 1.25rem; }
    .hamburger_window ul li {
      color: #fff;
      line-height: 3rem;
      position: relative;
      background-position: 100% 100%;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
      background-image: -webkit-linear-gradient(#fff, #fff);
      background-image: -o-linear-gradient(#fff, #fff);
      background-image: linear-gradient(#fff, #fff); }
      .hamburger_window ul li:hover {
        -webkit-animation: line 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation: line 0.8s cubic-bezier(0.165, 0.84, 0.44, 1); }
      .hamburger_window ul li:first-child {
        border-top: 1px solid #fff; }
      .hamburger_window ul li .right_cross {
        float: right;
        position: relative;
        font-size: 2rem;
        padding-right: 1rem; }
  .hamburger_window.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.flex_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@-webkit-keyframes line {
  0% {
    background-position: right bottom;
    background-size: 100% 1px; }
  50% {
    background-position: right bottom;
    background-size: 0% 1px; }
  51% {
    background-position: left bottom;
    background-size: 0% 1px; }
  100% {
    background-position: left bottom;
    background-size: 100% 1px; } }

@keyframes line {
  0% {
    background-position: right bottom;
    background-size: 100% 1px; }
  50% {
    background-position: right bottom;
    background-size: 0% 1px; }
  51% {
    background-position: left bottom;
    background-size: 0% 1px; }
  100% {
    background-position: left bottom;
    background-size: 100% 1px; } }

.container {
  height: auto;
  overflow-x: hidden; }

.logo {
  cursor: pointer;
  background: url(../images/logo.png) no-repeat;
  width: 3.75rem;
  height: 3.75rem;
  background-size: 100%;
  display: inline-block; }

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.75rem;
  z-index: 10; }
  header.active {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
  header ul.nav {
    float: right;
    line-height: 3.75rem;
    background: #fff;
    border-radius: 12px; }
    header ul.nav li {
      display: inline-block;
      text-align: center;
      width: 3.75rem;
      line-height: 1;
      vertical-align: middle;
      padding: 0.25rem 0;
      border-radius: 12px; }
      header ul.nav li:hover {
        background: #000; }
        header ul.nav li:hover i,
        header ul.nav li:hover p {
          color: #fff; }
      header ul.nav li i {
        display: inline-block;
        font-size: 1.4rem;
        margin-bottom: 0.125rem; }
      header ul.nav li i,
      header ul.nav li p {
        color: #1ba1e6; }

main {
  position: relative;
  width: 100%;
  padding: 0 1.25rem; }

.slick_window {
  width: 100%;
  margin: 0.5rem auto 0.5rem; }
  .slick_window .slick_img1 {
    background: url(../images/img1.png) no-repeat; }
  .slick_window .slick_img2 {
    background: url(../images/img2.png) no-repeat; }
  .slick_window .slick_img3 {
    background: url(../images/img3.png) no-repeat; }
  .slick_window .slick_img1,
  .slick_window .slick_img2,
  .slick_window .slick_img3 {
    width: 100vw;
    height: 10.5rem;
    background-size: 100%; }

/*大標題 h1*/
h1 {
  color: #1ba1e6;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  margin: 0.5rem 0; }

/*infor*/
.index_infor li {
  color: #535353;
  line-height: 3;
  background-position: 100% 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7a7a7), to(#a7a7a7));
  background-image: -webkit-linear-gradient(#a7a7a7, #a7a7a7);
  background-image: -o-linear-gradient(#a7a7a7, #a7a7a7);
  background-image: linear-gradient(#a7a7a7, #a7a7a7); }
  .index_infor li:hover, .index_infor li:active {
    -webkit-animation: line 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: line 0.8s cubic-bezier(0.165, 0.84, 0.44, 1); }

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 3.75rem;
  line-height: 3.75rem;
  z-index: 101; }
  footer .group {
    height: 3.75rem;
    width: calc(100% - 3.75rem);
    text-align: center; }
    footer .group .b50 {
      float: left;
      width: 50%;
      height: 100%;
      background: #1ba1e6; }
      footer .group .b50:last-child {
        background: #82c7e6; }
      footer .group .b50 .wrap {
        display: inline-block;
        line-height: 1;
        vertical-align: middle; }
        footer .group .b50 .wrap i {
          font-size: 1.25rem; }
        footer .group .b50 .wrap p,
        footer .group .b50 .wrap i {
          display: inline-block;
          color: #fff; }
  footer .hamburger {
    width: 3.75rem;
    height: 100%;
    line-height: 3.75rem;
    background: #ecf7fb;
    padding: 0 0.938rem;
    position: relative; }
    footer .hamburger .line_wrap {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      text-align: center;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      footer .hamburger .line_wrap .line {
        display: block;
        width: 1.875rem;
        height: 0.125rem;
        background: #1ba1e6;
        margin: 0.5rem 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    footer .hamburger.active .line_wrap {
      position: relative;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
      footer .hamburger.active .line_wrap:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid #1ba1e6;
        border-radius: 100%; }
      footer .hamburger.active .line_wrap .line:nth-child(2) {
        opacity: 0; }
      footer .hamburger.active .line_wrap .line:first-child {
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px); }
      footer .hamburger.active .line_wrap .line:last-child {
        -webkit-transform: translateY(-10px) rotate(90deg);
        -ms-transform: translateY(-10px) rotate(90deg);
        transform: translateY(-10px) rotate(90deg); }
  footer .group,
  footer .hamburger {
    float: left; }
