@charset "UTF-8";
@font-face {
  font-family: 'my_font';
  src: local("微軟正黑體");
  unicode-range: U+4E00-9FFF ,U+2E80-2EFF; }

@font-face {
  font-family: 'my_font';
  src: url(../font/Bahnschrift.TTF);
  unicode-range: U+0020-007F; }

.clearfix {
  display: block;
  content: "";
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'my_font'; }

a {
  text-decoration: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  overflow: inherit; }

label {
  position: relative; }

body {
  line-height: 1;
  margin: 0; }

ul, li, body {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

button {
  cursor: pointer; }

.flex_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container {
  height: auto; }

.logo {
  cursor: pointer;
  background: url(../images/logo.png) no-repeat;
  width: 3.75rem;
  height: 3.75rem;
  background-size: 100%;
  display: inline-block; }

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.75rem;
  z-index: 10; }
  header.active {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
  header ul.nav {
    float: right;
    line-height: 3.75rem; }
    header ul.nav li {
      display: inline-block;
      text-align: center;
      width: 3.75rem;
      line-height: 1;
      vertical-align: middle; }
      header ul.nav li i {
        font-size: 1.4rem;
        display: inline-block;
        margin-bottom: .125rem; }

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.links li {
  cursor: pointer; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.content {
  margin-top: 7%;
  width: 29%; }
  .content .img1 {
    background: url(../images/img1.png) no-repeat; }
  .content .img2 {
    background: url(../images/img2.png) no-repeat; }
  .content .img3 {
    background: url(../images/img3.png) no-repeat; }
  .content .img1,
  .content .img2,
  .content .img3 {
    width: 559px;
    height: 280px;
    background-size: contain; }
