@import "./reset.scss";

.flex_mode {
  display: flex;
}

.container {
  height: auto;
}
.logo {
  cursor: pointer;
  background: url(../images/logo.png) no-repeat;
  width: 3.75rem;
  height: 3.75rem;
  background-size: 100%;
  display: inline-block;
}
header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.75rem;
  z-index: 10;
  &.active {
    position: sticky;
    top: 0;
  }
  ul {
    &.nav {
      float: right;
      line-height: 3.75rem;
      li {
        display: inline-block;
        text-align: center;
        width: 3.75rem;
        line-height: 1;
        vertical-align: middle;
        i{
          font-size: 1.4rem;
          display: inline-block;
          margin-bottom: .125rem;
        }
        
      }
    }
  }
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links li {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
}
.content {
  margin-top: 7%;
  width: 29%;
  .img1 {
    background: url(../images/img1.png) no-repeat;
  }
  .img2 {
    background: url(../images/img2.png) no-repeat;
  }
  .img3 {
    background: url(../images/img3.png) no-repeat;
  }

  .img1,
  .img2,
  .img3 {
    width: 559px;
    height: 280px;
    background-size: contain;
  }
}
